* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16;
    }
    table {
        background-color: #f5faf5;        
    }
 
    th{
        background-color: #0000a9;
        color: #ffffff;
    }
    #cx1 {
        position: absolute;
        top: 375px;
        left: 10px;
        width: 1050px;
        height: 375px;

        border: solid 2px; 
 }